@import '../../../styles/abstracts/variables';
.app-header {
	text-align: center;
	padding: 10px;
	box-shadow: $box-shadow;
	background-color: $color-card-background-secondary;
	border-radius: $border-radius;
	margin-bottom: $margin-bottom-card;
	margin-top: 8px;
	h1 {
		color: $color-text-primary;
	}
}
