@import '../../styles/abstracts/variables';
.shared-button {
	border: $border;
	border-color: $color-text-primary;
	color: $color-text-primary;
	padding: 10px;
	border-radius: $border-radius;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		color: $color-text-secondary;
		background-color: $color-text-primary;
	}
}
