@import '../../styles/abstracts/variables';
.options-menu-container {
	button {
		border: none;
		background-color: transparent;
		position: relative;
		outline: none;
		color: $color-text-primary;
	}

	.options-items-container {
		position: absolute;
		right: 0;
		min-width: 85px;
		background-color: $color-card-background;
		right: 15px;
		top: 50px;
		z-index: 9;
		border: $border;
		border-radius: $border-radius;
		border-color: $border-color;
	}

	.show-options-menu {
		display: block;
	}

	.hide-options-menu {
		display: none;
	}
}
