@import '../../../styles/abstracts/variables';
.category-container {
	padding: 10px 15px;
	background-color: $color-tab-background;
	box-shadow: $box-shadow;
	border-radius: $border-radius;

	&-header {
		color: $color-text-primary;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px;
		cursor: pointer;

		i {
			font-size: 30px;
		}
	}
	&-body {
		overflow: hidden;
		transition: all 0.2s ease;
		margin-top: 15px;
		justify-content: space-between;
	}

	.expand-category-container {
		min-height: 300px;
		height: fit-content;
	}

	.collapse-category-container {
		height: 0;
		min-height: 0;
	}
}
