@import '../../styles/abstracts/variables';
.customModal {
	width: 800px;
	background-color: $color-card-background;
	color: $color-text-primary;
	border-radius: 5px;
	form {
		fieldset {
			margin-bottom: $margin-bottom-card;
		}
		.add-button-section {
			display: flex;
			padding: 10px 0;
			margin: 0;

			button {
				margin-left: auto;
			}
		}
	}
}
